body{
    background-color:rgb(243, 248, 248) ;
}
h1{
    background-image: url(images/kannafire1.jpeg);
    font-size: 200px;
    background-clip: text;
    color:transparent;
    animation: move 1s infinite;


}
@keyframes move{
    100%{
        background-position-x:  500px; ;
    }

}